@{
    ViewData["Title"] = "All Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WickedBanana.Models.Item>
<h2>Products</h2>

<main class="cards">
    @foreach (var Item in Model)
    {
        <article class="card">
            <img src=@Html.DisplayFor(image => Item.Image) alt="Sample photo">
            <div class="text">
                <h3>@Html.DisplayFor(name => Item.Name)</h3>
                <p>@Html.ActionLink("Delete", "Delete", new { id = Item.ItemId })</p>
                <p>@Html.ActionLink("Edit", "Edit", new { id = Item.ItemId })</p>
       
            </div>
        </article>
    }
</main>
@Html.ActionLink("Create New", "Create")